body{
  margin: 0;
  padding: 0;
   background: -webkit-linear-gradient(left, #000000, #ffffff);
  background-color: darkreds;
}
.box{
  width: 450px;
  background: rgb(100, 90, 90);
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  border-radius:50% 50% 0 0;
}
.box-img{
  border-radius: 70%;
  width: 200px;
  height: 160px;
}
h6{
  font-size: 15px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  color: dark;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
img{
  padding-top: 20px;
}
